<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>레시피 리스트 (테스트용)</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">

<!-- 페이지 이동 스크립트 -->
<script>

</script>


</head>
<body>
<header>
	<h1><a th:href="@{/recipe/list}">[ 레시피 리스트 (테스트용) ]</a></h1>
</header>

<section>
	<!-- 글목록 출력 영역 -->
	<p>글목록 전체 리스트 보기</p>
	<p><a th:href="@{/recipe/write}">글쓰기</p>
	
	<table>
	
	</table>
	
	

</div>


</section>
</body>
</html>