<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" th:href="@{/css/foodzimread.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
	integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" th:href="@{/css/문체부쓰기정체.css}">
     <link rel="short icon" th:href="@{/image/food/로고0328_3.svg}">
     <style >
     a{
	text-decoration: none;
	color: #000000;	
	
}
a:active {
	text-decoration: none;
	color: #000000;	
		
}
a:hover {
		text-decoration: underline;
	
}
</style>
</head>
<body>

<section id="Home">

       <nav style="background-color: #FAFAA0;">

        <div class="logo">
            <a th:href="@{/}"> <img th:src="@{/image/food/로고0328_3.gif}"></a>
        </div>

        <ul style="font-size: 20px;">
            <li><a th:href="@{/}"> 레시피 추천</a></li>
            <li><a th:href="@{/recipe/list}">모든 레시피보기</a></li>
            <!-- 나머지 <li> 태그들도 동일하게 글씨 크기를 30px로 설정할 수 있습니다 -->
            <li><a th:href="@{/recipe/write}">레시피 쓰기</a></li>
            <li><a th:href="@{/recipe/listzzim}">내 찜목록</a></li>
            <li><a th:href="@{/user/mypage}">마이페이지</a></li>
        </ul>

        <div class="login">
            <span sec:authorize="not isAuthenticated()" ><a th:href="@{/user/loginForm}">로그인</a></span>
            <span sec:authorize="isAuthenticated()" ><a th:href="@{/user/myrefrigerator}">나의 냉장고</a></span>
            <span sec:authorize="isAuthenticated()" ><a th:href="@{/user/logout}">로그아웃</a></span>
        </div>

    </nav>

    </section>
	<!-- 베너부분입니다 -->
	<div class="banner_bg">
	<table >
		<h1>
			찜한 레시피
		</h1>
	</table>	
	</div>

	<!-- 베너부분입니다 -->
	<div class="menu" id="Menu">
		<h1>
			<span></span>
		</h1>
<h4>
			<!-- 검색 폼 -->
			<form id="pagingForm" th:action="@{/recipe/list}" method="get"  >
				<input type="hidden" name="page" id="page" />
				<!-- id 는 자바 스크립트 보낼때 -->
				<!-- name은 홈페이지에서 보낼때 -->
				<!-- class는 css에서 사용할 때 -->
				<input type="text" name="searchWord" th:value="${searchWord}" class="search" >
				<input type="button" value="검색" onclick="pagingFormSubmit(1)" class="button">
				<!-- 보고 싶은 페이지 번호 1 -->
			</form>
</h4>

			<div class="menu_box">
				<!-- 아마도 여기서 부터 반복하면 최대 옆으로 4개 보여줄수 있음  -->
				<tr th:each="zzim:${zzimList}">
					<div class="menu_card">
						<div class="menu_image">
							<!-- DB에서 가져올 이미지 텍스트 -->
							<a th:href="@{/recipe/readzzim(num=${zzim.zzim_num})}">
							<img th:src="@{/recipe/downloadzzim(num=${zzim.zzim_num})}">
							</a>
						</div>

						

						<div class="menu_info">
							<h2 style="font-size: 34px;">
								<a th:text="${zzim.zzim_name}"
									th:href="@{/recipe/readzzim(num=${zzim.zzim_num})}"></a>
							</h2>
							<!-- 쓸지 모르는 정보라 지우지 않음 -->
							<h3 th:text="${zzim.zzim_id}"></h3>
							
							<table >
							<tr >

								<td width="150px" height="70px">
									<img th:if="${zzim.zzim_icon == '모두다'}" th:src="@{/image/food/All.svg}">
									<img th:if="${zzim.zzim_icon == '고추'}" th:src="@{/image/food/매운음식.svg}">
									<img th:if="${zzim.zzim_icon == '다이어트'}" th:src="@{/image/food/다이어트.svg}">
									<img th:if="${zzim.zzim_icon == '이유식'}" th:src="@{/image/food/어린이가능.svg}">
									<img th:if="${zzim.zzim_icon == '간단요리'}" th:src="@{/image/food/누구나.svg}">
								</td>
															<td width="200px" height="70px">
									<img th:if="${zzim.zzim_type == '한식'}" th:src="@{/image/food/한식.svg}">
									<img th:if="${zzim.zzim_type == '양식'}" th:src="@{/image/food/양식.svg}">
									<img th:if="${zzim.zzim_type == '일식'}" th:src="@{/image/food/일식.svg}">
									<img th:if="${zzim.zzim_type == '중식'}" th:src="@{/image/food/중식.svg}">
									<img th:if="${zzim.zzim_type == '아시안식'}" th:src="@{/image/food/아시아식.svg}">
									<img th:if="${zzim.zzim_type == '디저트'}" th:src="@{/image/food/디저트.svg}">
								</td>
							</tr>
						</table>
						
						</div>
				</div>
			</tr>
		</div>

	</div>






	<!--밑에부분-->

	<footer>

		<div class="footer_main">

			<div class="footer_tag">

				<h2>Back-End</h2>
				<p>applemail486@gmail.com / 김지희</p>
				<p>jsyoo1029@gmail.com / 유진선</p>
				<p>entergo94@gmail.com / 정세원</p>


			</div>

			<div class="footer_tag">

				<h2></h2>
				<p></p>
				<p></p>
				<p></p>
				<p></p>
				<p></p>

			</div>

			<div class="footer_tag">

				<h2>Follows</h2>
				<i class="fa-brands fa-facebook-f"></i> <i
					class="fa-brands fa-twitter"></i> <i class="fa-brands fa-instagram"></i>
				<i class="fa-brands fa-linkedin-in"></i>

			</div>

			<div class="footer_tag">

				<h2></h2>
				<p></p>


			</div>

			<div class="footer_tag">

				<h2>Front-End</h2>
				<p>kimyeaji01@gmail.com / 김예지</p>
				<p>entergo94@gmail.com / 정세원</p>


			</div>

		</div>

	</footer>




</body>
</html>