<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>글한게보기</title>



<link rel="stylesheet" th:href="@{/css/foodstyle.css}">
<link rel="stylesheet" th:href="@{/css/reset.css}">
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/detail-page.css}">






<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
	integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

	<section id="Home">
		<nav>
			<div class="logo">
				<!-- 로고수정해야할 img 입니다. -->
				<a th:href="@{/}"> <img th:src="@{/image/food/logo.png}"></a>
				<!-- 로고수정해야할 img 입니다. -->
			</div>



			<!-- 위에 메뉴입니다 -->
			<ul>
				<li><a href="#Home">레시피 추천</a></li>
				<li><a th:href="@{/Recipe/list}">모든 레시피보기</a></li>
				<li><a href="#Menu">레시피 공유하기</a></li>
				<li><a href="#Gallary">내찜 레시피북</a></li>
				<li sec:authorize="not isAuthenticated()"><a th:href="@{/User/loginForm}">로그인/회원가입</a></li>
				<li sec:authorize="isAuthenticated()"><a href="#Review">마이페이지</a></li>
				<li sec:authorize="isAuthenticated()"><a href="#Order">로그아웃</a></li>
			</ul>
			<!-- 위에 메뉴입니다 -->

		</nav>

		<!-- 자세한 글보기 시작 -->
	
	<section id="container">
		<div id="main_container">

			<section class="b_inner">

				<div class="contents_box">

					<article class="contents cont01">

						<div class="img_section">
							<div class="trans_inner">
								<div>
									<img th:src="@{/image/food/buger.jpg}">
								</div>
								
							</div>
							
							<div>
									필요한 제료 설명필요한 제료 설명필요한 제료 설명필요한 제료 설명필요한 제료 설명필요한 제료 설명필요한 제료 설명필요한 제료 설명필요한 제료 설명필요한 제료 설명필요한 제료 설명필요한 제료 설명필요한 제료 설명필요한 제료 설명필요한 제료 설명필요한 제료 설명필요한 제료 설명필요한 제료 설명필요한 제료 설명필요한 제료 설명필요한 제료 설명필요한 제료 설명필요한 제료 설명필요한 제료 설명필요한 제료 설명필요한 제료 설명
							</div>
							<div>
							만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 만드는 방법 
							</div>
							
						</div>


						<div class="detail--right_box">

							<header class="top">
								<div class="user_container">
									
									<div class="user_name">
										<div class="nick_name">글쓴이 닉네임</div>
									</div>
								</div>
							</header>

							<section class="scroll_section">
								<div class="admin_container">
									
									<div class="comment">
										<span class="user_id">익명1</span>정말 마싯겠따~
									</div>
								</div>

								<div class="user_container-detail">
									
									<div class="comment">
										<span class="user_id">익명2</span>치킨이 좋아~
									</div>
								</div>
								<div class="user_container-detail">
									
									<div class="comment">
										<span class="user_id">익명2</span>치킨이 좋아~
									</div>
								</div>
								<div class="user_container-detail">
									
									<div class="comment">
										<span class="user_id">익명2</span>치킨이 좋아~
									</div>
								</div>

								

								

							</section>


							<div class="bottom_icons">
								<div class="left_icons">
									<div class="heart_btn">
										<div class="sprite_heart_icon_outline" data-name="heartbeat"></div>
									</div>
									<div>
										<div class="sprite_bubble_icon"></div>
									</div>
									<div>
										<div class="sprite_share_icon" data-name="share"></div>
									</div>
								</div>

								<div class="right_icon">
									<div class="sprite_bookmark_outline" data-name="book-mark"></div>
								</div>
							</div>

							<div class="count_likes">
								좋아요 <span class="count">2,351</span> 개
							</div>
							<div class="timer">2시간</div>

							<div class="commit_field">
								<input type="text" placeholder="댓글달기..">

								<div class="upload_btn">게시</div>
							</div>



						</div>


					</article>


				</div>


			</section>

		</div>


		<div class="del_pop">
			<div class="btn_box">
				<div class="del">삭제</div>
				<div class="cancel">취소</div>
			</div>
		</div>

	</section>


	</section>

	







	<!--Footer-->





</body>
</html>