<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
 	<!-- 매뉴부분의 시작 입니다 -->
 	<!-- 매뉴부분의 시작 입니다 -->	
	<!-- 매뉴부분의 시작 입니다 -->
	
	
 	<!-- 왼쪽 매뉴 class 명 sidebar -->
    <div class="sidebar">
       <!--  -->
      <a href="#" class="logo">
        <img th:src="@{/img/logo.png}" alt="logo" />
      </a>
      <!--프로필 class명 profile-->
      <div class="profile">
        <div class="profile-img">
          <img th:src="@{/img/profile.jpg}" alt="프로필" />
        </div>
        <div class="name">
          <h1>7. 마이 프로필 보기 </h1>
        </div>
      </div>

      <!-- 메뉴의 리스트 class명 menu-->
      <!-- 번호는 완성되면 지움 구별 을 위해서 적음-->
      <div class="menu">
        <a href="#">
          <span class="icon">
            <i class="ri-function-line"></i>
          </span>
         1. 홈
        </a>

        <a href="#">
          <span class="icon">
            <i class="ri-search-line"></i>
          </span>
          2. 주변맛집
        </a>

        <a href="#">
          <span class="icon">
            <i class="ri-bar-chart-2-fill"></i>
          </span>
          3. 음식후기
        </a>

        <a href="#">
          <span class="icon">
            <i class="ri-send-plane-fill"></i>
          </span>
          4. 만들기
        </a>
        <a href="#">
          <span class="icon">
            <i class="ri-mail-unread-fill"></i>
          </span>
          5. 메세지
        </a>

        <a href="#">
          <span class="icon">
            <i class="ri-notification-4-line"></i>
          </span>
          6. 알림
        </a>

        </a>
        <a href="#">
          <span class="icon">
            <i class="ri-logout-box-r-line"></i>
          </span>
          로그아웃
        </a>
      </div>
    </div>
    <!--Main Menu-->
    <div class="main-home">
      <div class="header">
        <!-- Search-->
        <div class="search">
          <i class="ri-search-line"></i>
          <input type="text" name="" id="" placeholder="Search" />
        </div>
     
      </div>
      
      <div class="feed">
        <h1>Feed</h1>
        <div class="feed-text">
          <h2>Latest</h2>
          <span>Popular</span>
        </div>
      </div>
<!-- 매뉴부분의끝입니다 이 밑으로 수정해주세요  -->
<!-- 매뉴부분의끝입니다 이 밑으로 수정해주세요  -->
<!-- 매뉴부분의끝입니다 이 밑으로 수정해주세요  -->


        <!-- Box1 -->
      <div class="main-add">
        <div class="post-add-box">
          <img src="img/post1.jpg" alt="post" />
          <div class="post-info">
            <div class="post-profile">
              <div class="post-img">
                <img src="img/profile10.jpg" alt="profile" />
              </div>
              <h3>음식점 상호명</h3>
            </div>
          </div>
        </div>
    </div>

    <!-- 이미지 끝남 -->
    <!-- 데이터 기반 으로 추천해주는 곳-->
    <br>
    <h1>추천 날씨 ,성격 민초파 등등</h1>
    <div class="stories">
      <!--Stories 1-->
      <div class="stories-img color">
        <img th:src="@{/img/profile.jpg}" alt="profile" />
        <div class="add">+</div>
      </div>
      <!--Stories 2-->
      <div class="stories-img">
        <img th:src="@{/img/profile2.jpg}" alt="profile" />
      </div>
      <!--Stories 3-->
      <div class="stories-img">
        <img th:src="@{/img/profile3.jpg}" alt="profile" />
      </div>
      <!--Stories 4-->
      <div class="stories-img">
        <img th:src="@{/img/profile4.jpg}" alt="profile" />
      </div>
      <!--Stories 5-->
      <div class="stories-img">
        <img sth:src="@{/img/profile5.jpg}" alt="profile" />
      </div>
      <!--Stories 6-->
      <div class="stories-img">
        <img src="img/profile6.jpg" alt="profile" />
      </div>
      <!--Stories 7-->
      <div class="stories-img">
        <img src="img/profile7.jpg" alt="profile" />
      </div>
      <!--Stories 8-->
      <div class="stories-img">
        <img src="img/profile8.jpg" alt="profile" />
      </div>
      <!--Stories 9-->
      <div class="stories-img">
        <img src="img/profile9.jpg" alt="profile" />
      </div>
      <!--Stories 10-->
      <div class="stories-img">
        <img src="img/profile10.jpg" alt="profile" />
      </div>
    </div>

    <!--음식의 카테고리-->
    <br>
    <h1>음식 카테고리</h1>
    <div class="stories">
      <!--Stories 1-->
      <div class="stories-img color">
        <img src="img/profile.jpg" alt="profile" />
        <div class="add">+</div>
      </div>
      <!--Stories 2-->
      <div class="stories-img">
        <img src="img/profile2.jpg" alt="profile" />
      </div>
      <!--Stories 3-->
      <div class="stories-img">
        <img src="img/profile3.jpg" alt="profile" />
      </div>
      <!--Stories 4-->
      <div class="stories-img">
        <img src="img/profile4.jpg" alt="profile" />
      </div>
      <!--Stories 5-->
      <div class="stories-img">
        <img src="img/profile5.jpg" alt="profile" />
      </div>
      <!--Stories 6-->
      <div class="stories-img">
        <img src="img/profile6.jpg" alt="profile" />
      </div>
      <!--Stories 7-->
      <div class="stories-img">
        <img src="img/profile7.jpg" alt="profile" />
      </div>
      <!--Stories 8-->
      <div class="stories-img">
        <img src="img/profile8.jpg" alt="profile" />
      </div>
      <!--Stories 9-->
      <div class="stories-img">
        <img src="img/profile9.jpg" alt="profile" />
      </div>
      <!--Stories 10-->
      <div class="stories-img">
        <img src="img/profile10.jpg" alt="profile" />
      </div>
    </div>
  </body>
</html>
