<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.food.recifit.dao.RecipeDAO">

<!-- 레시피 저장 -->
<!-- 전달된 파일명이 있을때만 originalfile, originalfile 컬럼에 값을 저장 -->
<insert id="insert" parameterType="Recipe">
    insert into rf_recipe (
    	recipe_num
		, recipe_name
		, originalfile
		, savedfile
		, recipe_need
		, recipe_howto
		, recipe_type
		, recipe_date
		, recipe_icon
		, recipe_hit
		, recipe_zzimSum
		, recipe_nick
	)
    values (
    	recipe_num_seq.nextval
		, #{recipe_name}
		, #{recipe_howto}
		, #{recipe_need}
		, #{originalfile}
		, #{savedfile}

	)
</insert>



</mapper> 
 
