<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.food.recifit.dao.RecipeDAO">

<!-- 레시피 저장 -->
<insert id="insertrecipe" parameterType="Recipe">
    insert into rf_recipe (
       recipe_num
      , user_id
      , recipe_name
<if test="recipe_originalfile != null and recipe_savedfile != null">
      , recipe_originalfile
      , recipe_savedfile
       </if>
      , recipe_need
      , recipe_howto
      , recipe_type
      , recipe_icon
   )
    values (
       rf_recipe_seq.nextval
      , #{user_id}
      , #{recipe_name}
        <if test="recipe_originalfile != null and recipe_savedfile != null">
      , #{recipe_originalfile}
      , #{recipe_savedfile}
          </if>
      , #{recipe_need}
      , #{recipe_howto}
      , #{recipe_type}
      , #{recipe_icon}
   )
</insert>

<!-- 레시피 제목으로 한개 조회 -->
<select id="selectrecipe" parameterType="int" resultType="Recipe">
   select 
	*
    from rf_recipe 
    where recipe_num = #{recipe_num}
</select>

<!-- 레시피 수정 -->
<update id="updaterecipe" parameterType="Recipe">
   update 
      rf_recipe
   set
      recipe_name = #{recipe_name}
      , recipe_need = #{recipe_need}
      , recipe_howto = #{recipe_howto}
      , recipe_type = #{recipe_type}
      <if test="recipe_originalfile != null and recipe_originalfile != ''">
      , recipe_originalfile = #{recipe_originalfile}
      </if>
      <if test="recipe_savedfile != null and recipe_savedfile != ''">
      , recipe_savedfile = #{recipe_savedfile}
      </if>
   where 
      recipe_num = #{recipe_num}
</update>

<!-- 레시피 삭제 -->
<delete id="deleterecipe"  parameterType="Recipe">
   delete from rf_recipe
   where recipe_num = #{recipe_num} 
</delete>

<!-- 레시피 전체 글 보기 -->
<select id="list" parameterType="String" resultType="Recipe">
   select 
        recipe_num
      , recipe_name
      , recipe_originalfile
      , recipe_savedfile
      , recipe_icon
      , recipe_hit
      , recipe_zzimSum
      , user_id
    from 
       rf_recipe 
    <!-- 검색어가 null이 아니면 where 조건을 추가한다 -->
    <!-- 레시피제목, 레시피작성자 닉네임, 레시피재료,레시피 방법에서 모두 검색한다 -->

    <!-- 조건이 없을 땐 where를 없애라 where -->
     <where>
       <if test="searchWord != null">
       
                      upper(recipe_name) like '%' || upper(#{searchWord}) || '%'
                   or
                      upper(recipe_need) like '%' || upper(#{searchWord}) || '%'
                   or
                      upper(recipe_howto) like '%' || upper(#{searchWord}) || '%'
                   or   
                    upper(user_id) like '%' || upper(#{searchWord}) || '%'
       </if>
    </where>

    order by 
       recipe_num desc
</select>

<!-- 음식 종류별 글 목록 -->
	<select id="KoreanList" parameterType="String" resultType="Recipe">
   select 
        recipe_num
      , recipe_name
      , recipe_originalfile
      , recipe_savedfile
      , recipe_icon
      , recipe_hit
      , recipe_zzimSum
      , user_id
    from 
       rf_recipe 
    <!-- 검색어가 null이 아니면 where 조건을 추가한다 -->
    <!-- 레시피제목, 레시피작성자 닉네임, 레시피재료,레시피 방법에서 모두 검색한다 -->

    <!-- 조건이 없을 땐 where를 없애라 where -->
     <where>
       <if test="searchWord != null">
       
                      upper(recipe_name) like '%' || upper(#{searchWord}) || '%'
                   or
                      upper(recipe_need) like '%' || upper(#{searchWord}) || '%'
                   or
                      upper(recipe_howto) like '%' || upper(#{searchWord}) || '%'
                   or   
                    upper(user_id) like '%' || upper(#{searchWord}) || '%'
       </if>
       
       <if test="searchWord == null">
          <!-- searchWord가 null인 경우 -->
          recipe_type = '한식'
       </if>
       
       <if test="searchWord != null">
          <!-- searchWord가 null이 아닌 경우 -->
          recipe_type = '한식'
       </if>
       
    </where>

    order by 
       recipe_num desc
</select>

<select id="WesternList" parameterType="String" resultType="Recipe">
   select 
        recipe_num
      , recipe_name
      , recipe_originalfile
      , recipe_savedfile
      , recipe_icon
      , recipe_hit
      , recipe_zzimSum
      , user_id
    from 
       rf_recipe 
    <!-- 검색어가 null이 아니면 where 조건을 추가한다 -->
    <!-- 레시피제목, 레시피작성자 닉네임, 레시피재료,레시피 방법에서 모두 검색한다 -->

    <!-- 조건이 없을 땐 where를 없애라 where -->
     <where>
       <if test="searchWord != null">
       
                      upper(recipe_name) like '%' || upper(#{searchWord}) || '%'
                   or
                      upper(recipe_need) like '%' || upper(#{searchWord}) || '%'
                   or
                      upper(recipe_howto) like '%' || upper(#{searchWord}) || '%'
                   or   
                    upper(user_id) like '%' || upper(#{searchWord}) || '%'
       </if>
       
       <if test="searchWord == null">
          <!-- searchWord가 null인 경우 -->
          recipe_type = '양식'
       </if>
       
       <if test="searchWord != null">
          <!-- searchWord가 null이 아닌 경우 -->
          recipe_type = '양식'
       </if>
       
    </where>

    order by 
       recipe_num desc
</select>

<select id="JapaneseList" parameterType="String" resultType="Recipe">
   select 
        recipe_num
      , recipe_name
      , recipe_originalfile
      , recipe_savedfile
      , recipe_icon
      , recipe_hit
      , recipe_zzimSum
      , user_id
    from 
       rf_recipe 
    <!-- 검색어가 null이 아니면 where 조건을 추가한다 -->
    <!-- 레시피제목, 레시피작성자 닉네임, 레시피재료,레시피 방법에서 모두 검색한다 -->

    <!-- 조건이 없을 땐 where를 없애라 where -->
     <where>
       <if test="searchWord != null">
       
                      upper(recipe_name) like '%' || upper(#{searchWord}) || '%'
                   or
                      upper(recipe_need) like '%' || upper(#{searchWord}) || '%'
                   or
                      upper(recipe_howto) like '%' || upper(#{searchWord}) || '%'
                   or   
                    upper(user_id) like '%' || upper(#{searchWord}) || '%'
       </if>
       
       <if test="searchWord == null">
          <!-- searchWord가 null인 경우 -->
          recipe_type = '일식'
       </if>
       
       <if test="searchWord != null">
          <!-- searchWord가 null이 아닌 경우 -->
          recipe_type = '일식'
       </if>
       
    </where>

    order by 
       recipe_num desc
</select>

<select id="ChineseList" parameterType="String" resultType="Recipe">
   select 
        recipe_num
      , recipe_name
      , recipe_originalfile
      , recipe_savedfile
      , recipe_icon
      , recipe_hit
      , recipe_zzimSum
      , user_id
    from 
       rf_recipe 
    <!-- 검색어가 null이 아니면 where 조건을 추가한다 -->
    <!-- 레시피제목, 레시피작성자 닉네임, 레시피재료,레시피 방법에서 모두 검색한다 -->

    <!-- 조건이 없을 땐 where를 없애라 where -->
     <where>
       <if test="searchWord != null">
       
                      upper(recipe_name) like '%' || upper(#{searchWord}) || '%'
                   or
                      upper(recipe_need) like '%' || upper(#{searchWord}) || '%'
                   or
                      upper(recipe_howto) like '%' || upper(#{searchWord}) || '%'
                   or   
                    upper(user_id) like '%' || upper(#{searchWord}) || '%'
       </if>
       
       <if test="searchWord == null">
          <!-- searchWord가 null인 경우 -->
          recipe_type = '중식'
       </if>
       
       <if test="searchWord != null">
          <!-- searchWord가 null이 아닌 경우 -->
          recipe_type = '중식'
       </if>
       
    </where>

    order by 
       recipe_num desc
</select>

<select id="AsianList" parameterType="String" resultType="Recipe">
   select 
        recipe_num
      , recipe_name
      , recipe_originalfile
      , recipe_savedfile
      , recipe_icon
      , recipe_hit
      , recipe_zzimSum
      , user_id
    from 
       rf_recipe 
    <!-- 검색어가 null이 아니면 where 조건을 추가한다 -->
    <!-- 레시피제목, 레시피작성자 닉네임, 레시피재료,레시피 방법에서 모두 검색한다 -->

    <!-- 조건이 없을 땐 where를 없애라 where -->
     <where>
       <if test="searchWord != null">
       
                      upper(recipe_name) like '%' || upper(#{searchWord}) || '%'
                   or
                      upper(recipe_need) like '%' || upper(#{searchWord}) || '%'
                   or
                      upper(recipe_howto) like '%' || upper(#{searchWord}) || '%'
                   or   
                    upper(user_id) like '%' || upper(#{searchWord}) || '%'
       </if>
       
       <if test="searchWord == null">
          <!-- searchWord가 null인 경우 -->
          recipe_type = '아시안식'
       </if>
       
       <if test="searchWord != null">
          <!-- searchWord가 null이 아닌 경우 -->
          recipe_type = '아시안식'
       </if>
       
    </where>

    order by 
       recipe_num desc
</select>

<select id="dessertList" parameterType="String" resultType="Recipe">
   select 
        recipe_num
      , recipe_name
      , recipe_originalfile
      , recipe_savedfile
      , recipe_icon
      , recipe_hit
      , recipe_zzimSum
      , user_id
    from 
       rf_recipe 
    <!-- 검색어가 null이 아니면 where 조건을 추가한다 -->
    <!-- 레시피제목, 레시피작성자 닉네임, 레시피재료,레시피 방법에서 모두 검색한다 -->

    <!-- 조건이 없을 땐 where를 없애라 where -->
     <where>
       <if test="searchWord != null">
       
                      upper(recipe_name) like '%' || upper(#{searchWord}) || '%'
                   or
                      upper(recipe_need) like '%' || upper(#{searchWord}) || '%'
                   or
                      upper(recipe_howto) like '%' || upper(#{searchWord}) || '%'
                   or   
                    upper(user_id) like '%' || upper(#{searchWord}) || '%'
       </if>
       
       <if test="searchWord == null">
          <!-- searchWord가 null인 경우 -->
          recipe_type = '디저트'
       </if>
       
       <if test="searchWord != null">
          <!-- searchWord가 null이 아닌 경우 -->
          recipe_type = '디저트'
       </if>
       
    </where>

    order by 
       recipe_num desc
</select>




<!-- 전체 레시피 개수 (이 함수 외우기)-->
<select id="total" parameterType="map" resultType="int">
   select 
      count(*) 
   from 
      rf_recipe 
    <if test="type != null and searchWord != null">
    <!-- 조건이 없을 땐 where를 없애라 where -->
     <where>
                upper(recipe_name) like '%' || upper(#{searchWord}) || '%'
             or
                upper(recipe_need) like '%' || upper(#{searchWord}) || '%'
             or
                upper(recipe_howto) like '%' || upper(#{searchWord}) || '%'
    </where>
    </if>
</select>



<select id="recifitCheck" parameterType="map" resultType="Recipe">
   select 
        recipe_num
      , recipe_name
      , recipe_originalfile
      , recipe_savedfile
      , recipe_icon
      , recipe_hit
      , recipe_zzimSum
      , user_id
    from 
       rf_recipe 
    <!-- 검색어가 null이 아니면 where 조건을 추가한다 -->
    <!-- 레시피제목, 레시피작성자 닉네임, 레시피재료,레시피 방법에서 모두 검색한다 -->

    <!-- 조건이 없을 땐 where를 없애라 where -->
     
     
      <where>
       1=1
     
      <if test="searchWord != null and searchWord != ''">
              AND (
                      upper(recipe_name) like '%' || upper(#{searchWord}) || '%'
                   or
                      upper(recipe_need) like '%' || upper(#{searchWord}) || '%'
                   or
                      upper(recipe_howto) like '%' || upper(#{searchWord}) || '%'
                   or   
                    upper(user_id) like '%' || upper(#{searchWord}) || '%'
               )   
       </if>  
      
      <if test="recipe_type != null and recipe_type != ''">
        and recipe_type = #{recipe_type}
      </if>
         
      <if test="recipe_icon != null and recipe_icon != ''">
        and recipe_icon = #{recipe_icon}
      </if>
    </where>  


      
      
   

    order by 
       recipe_num desc
</select>


</mapper> 
 