<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Food Website</title>
<link rel="stylesheet" th:href="@{/css/singup.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
	integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="short icon" href="image/short_icon.png">
<script>
function validation() {
	if(confirm('정말 탈퇴하시겠습니까?')){
				return true;
			}
	}

window.onload = function(){
	if([[${error}]] == 0){
		alert("비밀번호 오류");
	}
}
</script>
</head>
<body>

	<div class="hero">

		<div class="login_form">

			<h1> 회원탈퇴</h1>


			<form class="input_box" id="deleteForm" th:action="@{/user/delete}"
				method="post" onsubmit="return validation();">
			아이디를 다시 입력해주세요
				<input type="text" class="field" name="user_id" id="user_id"  th:value="${member.user_id}">
			비밀 번호를 다시 입력해주세요		
				<input type="password" class="field" placeholder="비밀번호" name="user_pw" id="user_pw">
				<span>
			<span class="white"></span>
			<span class="white">
				<div class="errorMsg" th:if="${param.error}">ID또는 비밀번호가 틀립니다.</div>
			</span>
		</span>
					

				
				<input type="submit" value="탈퇴" class="submit_btn">
				<!--  <button type="submit" class="submit_btn">Register</button>-->



				<div class="tag">
					<a th:href="@{/}">탈퇴하지 않겠습니다.</a> 
				</div>

			</form>

		</div>

	</div>

</body>
</html>