<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Website</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="short icon" href="image/short_icon.png">
    <script>
	//로그인폼 확인
	function validation() {
		let id = document.getElementById('user_id');
		let password = document.getElementById('user_pw');
		
		if (id.value == '' || password.value == '') {
			alert('ID와 비밀번호를 입력하세요.');
			return false;
		}
		return true;
	}
	</script>
</head>
<body>

    <div class="hero">

        <div class="login_form">

            <h1>로그인</h1>

            <form id="loginForm" th:action="@{/user/loginForm}" method="post" onSubmit="return validation();" class="input_box" >

                <input type="text" name="user_id" id="user_id"  class="field" placeholder="아이디 ">
                <input type="password" name="user_pw" id="user_pw"  class="field" placeholder="비밀번호">
                
                <input type="checkbox" class="check_box"><p>비밀번호 기억하기</p>
                <input type="submit" value="Login"  class="submit_btn"/>
                /
                <button type="submit" class="submit_btn">로그인</button>

                <div class="social_icon">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-google"></i>
                </div>

                <div class="tag">
                    <a th:href="@{/}"  >홈으로</a>
                    <span>/</span>
                    <a th:href="@{/user/join}">회원가입</a>
                </div>

            </form>

        </div>

    </div>
    
</body>
</html>