<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Food Website</title>
<link rel="stylesheet" th:href="@{/css/singup.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
	integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="short icon" href="image/short_icon.png">
<script>
//가입폼 확인
function validation() {
	
	
	let user_pw = document.getElementById('user_pw').value;
	let user_pw2 = document.getElementById('user_pw2').value;
	let user_name = document.getElementById('user_name').value;
	
	if (user_pw.value != user_pw2.value) {
		alert("비밀번호를 정확하게 입력하세요.");
		return false;
	}
	
	if (user_name.value == '') {
		alert("이름을 입력하세요.");
		return false;
	}

	return true;
}





</script>
</head>
<body>

	<div class="hero">

		<div class="login_form">

			<h1>개인정보 수정</h1>


	<form class="input_box" id="updateMember" th:action="@{/user/mypage}" 
	 method="post" onsubmit="return validation();">

<input type="text" class="field" placeholder="이름" name="user_id" id="user_id" th:value="${member.user_id}" readonly>
			
<input type="password" class="field" placeholder="비밀번호" name="user_pw" id="user_pw">


<input type="password" class="field" id="user_pw2" placeholder="비밀번호 다시 입력">


<input type="text" class="field" placeholder="이름" name="user_name" id="user_name" th:value="${member.user_name}">


<input type="email" class="field" placeholder="Email" name="user_email" id="user_email" th:value="${member.user_email}" >
																					<!-- 멤버쩜이 맞는지 -->

<input type="text" class="field" placeholder="전화번호" name="user_phone" id="user_phone"  th:value="${member.user_phone}">


		<input type="submit" value="수정" class="submit_btn">
		
		<!--  <button type="submit" class="submit_btn">Register</button>-->

		<div class="tag">
			<a th:href="@{/}">홈으로</a> <span>/</span> 
			<a th:href="@{/user/loginForm}">로그인</a>
		</div>
		<div class="tag">
			<a th:href="@{/user/delete}">탈퇴</a>
		</div>

	</form>

		</div>

	</div>

</body>
</html>