<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Food Website</title>
<link rel="stylesheet" th:href="@{/css/foodread.css}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
	integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="short icon" th:href="@{/image/food/short_icon.png}">
<script>
function inputrefrigerator() {
	window.open('http://localhost:8888/recifit/user/inputrefrigerator','win', 'top=70,left=500,width=650,height=620');
}
</script>
<style >
.btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 10px 20px;
  background-color: #facc22;
  color: #000;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

table {
  margin: 0 auto;
  width: 50%;
  height: 200px;
  border-collapse: collapse;
  cellspacing: 5px;
}

thead th {
  text-align: center;
  background-color: #f8f8f8;
  padding: 10px;
}

tbody td {
  text-align: center;
  background-color: #f8f8f8;
  padding: 10px;
}

#refrigerator_need {
  font-weight: bold;
}
</style>
</head>
<body>

	<section id="Home">

		
<nav style="background-color: #FAFAA0;">

        <div class="logo">
            <a th:href="@{/}"> <img th:src="@{/image/food/로고0328_3.gif}"></a>
        </div>

        <ul style="font-size: 20px;">
            <li><a th:href="@{/}"> 레시피 추천</a></li>
            <li><a th:href="@{/recipe/list}">모든 레시피보기</a></li>
            <!-- 나머지 <li> 태그들도 동일하게 글씨 크기를 30px로 설정할 수 있습니다 -->
            <li><a th:href="@{/recipe/write}">레시피 쓰기</a></li>
            <li><a th:href="@{/recipe/listzzim}">내 찜목록</a></li>
            <li><a th:href="@{/user/mypage}">마이페이지</a></li>
        </ul>

        <div class="login">
            <span sec:authorize="not isAuthenticated()" ><a th:href="@{/user/loginForm}">로그인</a></span>
            <span sec:authorize="isAuthenticated()" ><a th:href="@{/user/myrefrigerator}">나의 냉장고</a></span>
            <span sec:authorize="isAuthenticated()" ><a th:href="@{/user/logout}">로그아웃</a></span>
        </div>

    </nav>

	</section>
	<!-- 베너부분입니다 -->
	<div class="banner_bg">
		<h1>
			나의 냉장고
		</h1>
	</div>

	<!-- 베너부분입니다 -->
	<div class="menu" id="Menu">
		<h1>
			<span></span>
		</h1>

         <button type="button"
            onclick="inputrefrigerator()"
            class="btn">냉장고 채우기</button>
		<table border="1" width="50%" height="200" cellspacing="5">
			<thead>
				<tr align="center" bgcolor="white">
					<th>재료</th>
					<th>유통기한</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="refrigeratorList:${refrigeratorList}" align="center"
					bgcolor="white">
					<td th:text="${refrigeratorList.refrigerator_need}"
						id="refrigerator_need"></td>
					<td th:text="${refrigeratorList.refrigerator_date}"></td>
				</tr>
			</tbody>
		</table>



		</div>
		<div class="menu_info"></div>
	</div>






	<!--밑에부분-->

	<footer>

		<div class="footer_main">

			<div class="footer_tag">

				<h2>Back-End</h2>
				<p>applemail486@gmail.com / 김지희</p>
				<p>jsyoo1029@gmail.com / 유진선</p>
				<p>entergo94@gmail.com / 정세원</p>


			</div>

			<div class="footer_tag">

				<h2></h2>
				<p></p>
				<p></p>
				<p></p>
				<p></p>
				<p></p>

			</div>

			<div class="footer_tag">

				<h2>Follows</h2>
				<i class="fa-brands fa-facebook-f"></i> <i
					class="fa-brands fa-twitter"></i> <i class="fa-brands fa-instagram"></i>
				<i class="fa-brands fa-linkedin-in"></i>

			</div>

			<div class="footer_tag">

				<h2></h2>
				<p></p>


			</div>

			<div class="footer_tag">

				<h2>Front-End</h2>
				<p>kimyeaji01@gmail.com / 김예지</p>
				<p>entergo94@gmail.com / 정세원</p>


			</div>

		</div>

	</footer>




</body>
</html>