<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>spring5</title>
</head>
<body>
<h1>[ 레시핏 공사중 ]</h1>

<!-- 필요하신 링크 수정해서 들어가는걸로 해주세요 -->
<p sec:authorize="not isAuthenticated()"><a th:href="@{/member/join}" >회원가입</a></p>
<p sec:authorize="not isAuthenticated()"><a th:href="@{/member/loginForm}">로그인</a></p>
<p sec:authorize="isAuthenticated()"><a th:href="@{/member/logout}" >로그아웃</a></p>
<p sec:authorize="isAuthenticated()"><a th:href="@{/member/mypage}">개인정보수정</a></p>
<p sec:authorize="isAuthenticated()"><a th:href="@{/member/delete}">회원탈퇴</a></p>
<p sec:authorize="isAuthenticated()"><a th:href="@{/member/selectAll}">전체회원목록</a></p>
<p sec:authorize="not isAuthenticated()"><a th:href="@{/recipe/write}">나만의 레시피</a></p>
<p sec:authorize="not isAuthenticated()"><a th:href="@{/recipe/list}">전체 레시피</a></p>
<h1>수정중</h1>

</body>
</html>